{% extends "notes/base.html" %}
{% load static %}

{% block content %}
<div class="appbar">
  <img class="logo" src="{% static 'notes/img/logo-getit.png' %}" />
  <p class="subtitle">Como o Post-it, mas com outro verbo</p>
</div>

<div class="container">
  <form method="post" class="form-card">
    {% csrf_token %}
    <input class="form-card-title" type="text" name="titulo" placeholder="Título" />
    <textarea class="autoresize" name="detalhes" placeholder="Detalhes"></textarea>
    <input class="btn" type="submit" value="Enviar" />
  </form>

  <div class="card-container">
    {% for note in notes %}
    <div class="card">
      <p class="card-title">{{ note.title }}</p>
      <div class="card-content">
        <p>{{ note.content }}</p>
      </div>
      <div class="card-actions">
        <a href="{% url 'edit' note.id %}">Editar</a>
        <a class="delete" href="{% url 'delete' note.id %}">Excluir</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}