{% extends "notes/base.html" %}

{% block content %}
<div class="appbar">
  <p class="subtitle">Tag: {{ tag.name }}</p>
</div>

<div class="container">
  <div class="card-container">
    {% for note in notes %}
    <div class="card">
      <div class="card-actions">
        <a href="{% url 'edit' note.id %}">✎</a>
        <a class="delete" href="{% url 'delete' note.id %}">🗑</a>
      </div>
      <p class="card-title">{{ note.title }}</p>
      <div class="card-content">
        <p>{{ note.content }}</p>
      </div>
      {% if note.tag %}
      <span class="tag-badge">#{{ note.tag.name|upper }}</span>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}